@import "./variables.scss";

.article {
  &__text {
    padding-bottom: 44px;
  }
  &__picture {
    padding-bottom: 44px;
    width: 100%;

    & > img {
      width: 100%;
      object-fit: cover;
    }
  }
}
