@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: $black;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
}

.h1-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  padding-bottom: 24px;
}
.h2-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  padding-bottom: 24px;
}
.h2-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  padding-bottom: 16px;
}

.paragraph {
  font-size: 20px;
  line-height: 145%;
  opacity: 0.6;
  padding-top: 4px;
  padding-bottom: 4px;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  min-height: calc(100vh - 74px);
}

@include mobile-large() {
  .h1-title {
    font-size: 48px;
    line-height: 145%;
  }
  .h2-title {
    font-size: 48px;
    line-height: 145%;
  }
  .paragraph {
    font-size: 16px;
    line-height: 145%;
  }
}

@include mobile-medium() {
  .h1-title {
    font-size: 28px;
    line-height: 120%;
  }
}
